/* Breakpoints */
$breakpoints-up: (
  "medium": 43.75em,
  "large": 56.25em,
  "xlarge": 90em,
);

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin breakpoints($size) {
  @media only screen and (max-width: map-get($breakpoints-up, $size )) {
    @content;
  }
}
