body {
  background-color: var(--clr--light-pink);
  font-size: var(--fs--regular);
  font-family: var(--ff--primary);
  height: max-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .attribution {
    text-align: center;
    font-size: 0.7rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
