@use "../layout/util/" as u;

.card {
  background-color: var(--clr--white);
  max-width: 700px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;

  @keyframes show {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__header {
    h1 {
      @include u.flex-align-center;
      font-size: 4rem;
      font-weight: var(--fw--solid-bold);
      color: var(--clr--dark-purple);
      img {
        margin-right: 1.5rem;
      }
    }
  }

  .cards {
    margin-bottom: 1rem;
    h2 {
      @include u.flex-align-center;
      font-weight: var(--fw--very-bold);
      font-size: 1.2rem;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      img {
        cursor: pointer;
        margin-left: 1rem;
      }
    }

    .divider {
      margin-top: 0.8rem;
      border-top: 1px solid var(--clr--light-pink);
    }

    .hidden {
      opacity: 0;
      height: 0;
      overflow: hidden;
    }

    .show {
      display: block;
      animation: show 0.3s forwards;
    }
  }

  p {
    opacity: 1;
    height: auto;
    font-weight: var(--fw--bold);
    color: var(--clr--grayish-purple);
    margin-bottom: 1rem;
  }



  @include u.breakpoints(medium) {
    margin: 1.5rem;

    &__header {
      h1 {
        @include u.flex-align-center;
        font-size: 2rem;
        margin-bottom: 1rem;
        img {
          width: 25px;
          height: 25px;
          margin-right: 1rem;
        }
      }
    }

    .cards {
      h2 {
        font-size: 1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
