@use "../layout/util/" as u;

.card {
  background-color: var(--clr--white);
  max-width: 700px;
  border-radius: 1rem;
  padding: 2rem;

  &__header {
    h1 {
      @include u.flex-align-center;
      font-size: 4rem;
      font-weight: var(--fw--solid-bold);
      color: var(--clr--dark-purple);
      img {
        margin-right: 1.5rem;
      }
    }
  }

  .cards {
    margin-bottom: 1rem;
    h2 {
      @include u.flex-align-center;
      font-weight: var(--fw--very-bold);
      font-size: 1.2rem;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      img {
        cursor: pointer;
        margin-left: 1rem;
      }
    }

    .hidden {
      transition: opacity 1s ease-out;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }

  p {
    display: block;
    opacity: 1;
    height: auto;
    font-weight: var(--fw--bold);
    color: var(--clr--grayish-purple);
  }
}
