:root {
  /* Font Family*/
  --ff--primary: "Work Sans", sans-serif;

  /*   Font Size */
  --fs--regular: 16px;

  /* Font Weight */
  --fw--bold: 400;
  --fw--very-bold: 600;
  --fw--solid-bold: 700;
}
